{% extends "base.html" %}

{% block content %}
<a href="{{ url_for('create_user') }}" class="btn btn-primary mb-3">Add New User</a><br>

{{ title }}
{% if users %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No users found yet.</p>
{% endif %}

{% endblock %}
